<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title>Bienvenue dans notre jeu : IT' SCAPIST</title>
</head>

<body>
<div id="conteneur">
  <h1 id="header"><a href="#" title="Colored Design - Accueil"><span>REALISE PAR :</span></a></h1>

  <nav>
    <ul id="menu">
      <li><a href="#">Virgile DASSONNEVILLE</a></li>
      <li><a href="#">Amaury HUBERT</a></li>
      <li><a href="#">Thomas DIGNOIRE</a></li>
      <li><a href="#">Fabien DUTERTE</a></li>
      <li><a href="#">Mélanie FRANCHOIS</a></li>
    </ul>
  </nav>

  <div id="contenu">
    <h2></h2>
    <p>
    </p>
  </div>

  <p id="footer"></p>
</div>
</body>
</html>
Vous êtes sur la page d'accueil, ici il n'y a rien pour l'instant. On avait prévu quelques petites choses mais on a peut-être pas eu le temps de terminer cette partie. Sorry ! :c


