<div *ngIf="apiResponse && !apiResponse.success" fxLayoutAlign="center center">
  <mat-card fxFlex="50" class="danger white-text">
    <mat-card-content fxLayout="column" fxLayoutAlign="center">
      {{ apiResponse.message }}
    </mat-card-content>
  </mat-card>
</div>

<div fxLayoutAlign="center center">
  <mat-card fxFlex="50">
    <mat-card-content fxLayout="column" fxLayoutAlign="center">
      <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput id="username">
          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="mat-error">
            <div *ngIf="username?.errors.required">Le nom d'utilisateur est obligatoire</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="mat-error">
            <div *ngIf="password?.errors.required">Le mot de passe est obligatoire</div>
            <div *ngIf="password?.errors.minLength">Le mot de passe doit au moins faire 6 caractères</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirmer votre mot de passe</mat-label>
          <input matInput>
          <div *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched)" class="mat-error">
            <div *ngIf="password_confirmation?.errors.required">Vous devez confirmer votre mot de passe</div>
            <div *ngIf="password_confirmation?.errors.minLength">Le mot de passe doit au moins faire 6 caractères</div>
          </div>
        </mat-form-field>

        <button  type="submit" mat-stroked-button mat-raised-button color="accent">S'inscrire</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
