<div fxLayoutAlign="center center" fxLayout="column">
    <h2>Comment jouer ?</h2>
    <p>
        Jouer à ITScapist est facile, tout ce que vous avez à garder en tête, c'est l'utilisation du Z Q S D de votre clavier. (Z = haut, Q = gauche, S = bas, D = droit)<br>
        Pour effectuer une action, il suffit simplement d'appuyer sur la touche (<i>touche pour effectuer une action</i>) du clavier.
    </p>
    <h2>L'environnement de ITScapist</h2>
        <h3>Introduction</h3>
    <p>
        Vous incarnez un étudiant de l’IUT (devenu une prison) qui doit s’échapper. Vous disposez de plusieurs outils à votre disposition afin d'atteindre votre but. S’enfuire.
    </p>
        <h3>Scénario</h3>
    <p>
        Vous êtes un étudiant de l’IUT. Après un malentendu avec la direction vous décidez de mettre les voiles, malheureusement pour vous, l’IUT est sous haute surveillance après "l’accident".<br> 
        Faites vous des alliés, déjouez le système de surveillance, évitez les gardes et regagnez votre liberté.

    </p>
</div>