<div *ngIf="apiResponse && !apiResponse.success" fxLayoutAlign="center center">
  <mat-card fxFlex="50" class="danger white-text">
    <mat-card-content fxLayout="column" fxLayoutAlign="center">
      {{ apiResponse.message }}
    </mat-card-content>
  </mat-card>
</div>

<div fxLayoutAlign="center center">
  <mat-card fxFlex="50">
    <mat-card-content fxLayout="column" fxLayoutAlign="center">
      <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Adresse email</mat-label>
          <input matInput formControlName="email" type="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="mat-error">
            <div *ngIf="email?.errors.required">L'adresse email est obligatoire</div>
            <div *ngIf="email?.errors.pattern">L'adresse email doit être une adresse email valide</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" type="password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="mat-error">
            <div *ngIf="password?.errors.required">Le mot de passe est obligatoire</div>
          </div>
        </mat-form-field>

        <button type="submit" [disabled]="form.invalid" mat-stroked-button mat-raised-button color="accent">Se connecter</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
