<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <a mat-button routerLink="/"><h1>ITScapist</h1></a>
  <nav class="nav-tool-items" *ngIf="!jwt.connected">
    <a mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      Accueil
    </a>
    <a mat-button routerLink="/login">Se connecter</a>
    <a mat-button routerLink="/register">S'inscrire</a>
  </nav>
  <nav class="nav-tool-items" *ngIf="jwt.connected">
    <a mat-button routerLink="/profile">Profile</a>
    <a mat-button routerLink="/tuto">Tutorial</a>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>
